services:
  sandbox-image:
    build:
      context: .
      dockerfile: Dockerfile.sandbox
    image: go-sandbox:1.25
    entrypoint: [ "true" ]

  app:
    build: .
    container_name: go-api
    ports:
      - "8080:8080"
    env_file:
      - ".env"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      sandbox-image:
        condition: service_completed_successfully
      migrate:
        condition: service_completed_successfully
    restart: always

  migrate:
    image: kukymbr/goose-docker:3.24.2
    volumes:
      - ./migrations:/migrations
    environment:
      GOOSE_DRIVER: postgres
      GOOSE_DBSTRING: "host=postgres port=${DB_PORT} user=${DB_USER} password=${DB_PASSWORD} dbname=${DB_NAME} sslmode=${DB_SSLMODE}"
      GOOSE_COMMAND: up
    depends_on:
      postgres:
        condition: service_healthy

  redis:
    image: redis:8-alpine
    container_name: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always

  postgres:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always

volumes:
  postgres_data: